#title{
    text-align:center;
}
  h1{
      font-family: 'Press Start 2P';
<<<<<<< HEAD
      
  }
body {
  height:900px;
  background:linear-gradient(red, black);
}
=======
  }
  
>>>>>>> 938386d700c0ff9178b4f10f8382bece68e78b5f
