#title{
    text-align:center;
}
  h1{
      font-family: 'Press Start 2P';
      text-align:center

      
  }
body {
  height:900px;
  background:linear-gradient(red, black);

}
p {
  margin-top:100px;  
  font-family: 'Press Start 2P';
  text-align:center;
  color:white;
}

li{
  font-family: 'Press Start 2P';
  color:white;
}

span{
  font-family: 'Press Start 2P';
  color:white;  
}

img{
  margin-left:290px
    
}
#vote
input{
  font-family:'Press Start 2P';
  color:white;
}

